/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

/* Custom properties */
:root {
  /* Color variables */
  /* Primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /*(graphic design text) */
  --dark-blue: hsl(198, 62%, 26%); /*(photography text) */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /*(footer)*/
  /* Secondary colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Fraunces", serif;
  font-size: 18px;
}

/* Intro container */
.intro-container {
  width: 100%;
  height: 100vh;
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Navbar */
.navbar {
  font-family: "Barlow", sans-serif;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-right: 3rem;
}

/* Navbar Logo */
.navbar-logo img {
  width: 150px;
}

/* Navbar links */
.navbar-links {
  list-style: none;
}

.list-items {
  display: inline;
  padding-left: 1.5rem;
}

.list-items a {
  text-decoration: none;
  color: var(--white);
}

/* Contact button  */
.list-items button {
  border-radius: 3rem;
  border: none;
  padding: 0.8rem 1rem;
  background-color: var(white);
  color: var(--very-dark-desaturated-blue);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.list-items button:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.4);
}

/* Home Title */
.title {
  margin-top: 5rem;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  font-size: 2.8rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.arrow img {
  margin-top: 7rem;
  height: 150px;
  position: relative;
  left: 50%;
}

/* Cards with "transform & "stand out" info */
.card {
  display: flex;
}

.card-info,
.card-img,
.card-image-info {
  flex: 1;
  flex-basis: 50%;
}

.card-info {
  padding: 5rem;
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Assign the same margin-bottom to both classess */
.card-title,
.card-text {
  margin-bottom: 3rem;
}

.card-title {
  padding-right: 10rem;
  font-weight: 900;
}

.card-text {
  font-family: "Barlow", sans-serif;
  line-height: 1.5rem;
  color: var(--grayish-blue);
  padding-right: 2.5rem;
}

.card-img,
.card-image-info {
  aspect-ratio: 1/1;
}

/* Button "Learn More" */
.learn-more-button {
  align-self: flex-start;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding: 0 0.5rem;
  letter-spacing: 0.1rem;
}

/* Underline in the "LEARN MORE" button */
#btn-1,
#btn-2 {
  width: 135px;
  height: 7px;
  border-radius: 5rem;
  position: relative;
  top: -5px;
  /* opacity: 0.5; */
  z-index: -1;
}

#btn-1 {
  background-color: #fdf0c0;
}

/* .button-1:hover span {
  background-color: var(--yellow);
  cursor: pointer;
  opacity: 1;
} */

#btn-2 {
  background-color: #fcd9d0;
}

#btn-2:hover {
  background-color: var(--soft-red);
  cursor: pointer;
  opacity: 1;
}

/* Image of card #1 */
#img1 {
  background-image: url("images/desktop/image-transform.jpg");
}

/* Image of card #2 */
#img2 {
  background-image: url("images/desktop/image-stand-out.jpg");
  order: -1;
}

/* Values for the background-images in the cards  */
#img1,
#img2,
.card-image-info {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* "Graphic design" & "Photography" Cards */
.card-image-info {
  display: flex;
  flex-direction: column;
  padding: 27rem 8.5rem 5rem 8.5rem;
}

.card-image-info h4 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 2rem;
}

.card-image-info p {
  font-family: "Barlow", sans-serif;
  font-weight: lighter;
  text-align: center;
}

#graphic-design-card {
  background-image: url("images/desktop/image-graphic-design.jpg");
}

#photography-design-card {
  background-image: url("images/desktop/image-photography.jpg");
}

/* Title and paragraph for the "Graphic design card" */
#card-title-1,
#card-text-1 {
  color: var(--dark-desaturated-cyan);
}

/* Title and paragraph for the "Graphic design card" */
#card-title-2,
#card-text-2 {
  color: var(--dark-blue);
}
